extends ./partials/layout

block main

	ul.products(gt2=products.length > 2, gt1=products.length > 1)
		each product, n in products
			li(data-n=n)
				div.img: img(src=product.image)

				div.content
					div.text
						h1= product.name

						p.sku= product.sku

						p.price= product.priceFormatted

					a.buy(href="#", alt="Buy product") Buy now
